.header{
    background-color: black;
    background-image: url(../img/фон.jpg);
    color: white;
    text-align: center;
    &__container{
        min-height: 100vh;
        box-sizing:border-box;
        padding-top: 70px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__center{
        margin-bottom: auto;
        margin-top: calc(var(--index)/0.18);
        padding-bottom: 40px;
        &-deck{
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
        }
        &-title{
            font-size: 34px;
            font-weight: 700;
            line-height: 87px;
            margin-bottom: 40px;
            span{
                display: block;
                text-align: center;
                font-size: 34px;
                font-weight: 400;
                line-height: 57px;
            }
        }
    }
}
