@font-face {
                            font-family: NotoSans;
                            font-display: swap;
                            src: url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.woff2") format("woff2");
                            font-weight: 700;
                            font-style: normal;
                        }
@font-face {
                            font-family: NotoSans;
                            font-display: swap;
                            src: url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
